/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit-Bold', sans-serif;
}
@font-face {
  font-family: 'Outfit-Bold';
  src: url('Outfit/static/Outfit-Bold.ttf');
}
body{
  background-color: #141313;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Apply a radial gradient background to the hero section */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style the heading */
h1 {
  font-size: 100px;
  color: #fff;
  text-align: center;
  opacity: 0;
  background: linear-gradient(to right, #91f270, #61e395, #23c6a2, #00aabb, #6e47e5, #b85bbf, #d948a6, #eb4b87, #ea6e4a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Add animation to the heading */
.hero h1 {
  opacity: 1;
  transform: none;
}

.hero p {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 2rem;
}

.hero form {
    margin-top: 2rem;
}

.hero form input[type="email"] {
    padding: 0.5rem;
    border-radius: 3rem;
    border: none;
    margin-right: 1rem;
    font-size: 1rem;
    text-align: center;
}

.hero form button {
    background-color: #141313;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    border-color: #ff93b5;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hero form button:hover {
    background-color: #ff93b5;
    color: #141313;
}
/* Add styles for social links */
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.social-links a {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  transition: all 0.2s ease-in-out;
}

.social-links a:hover {
  color: #fe6b8b;
  transform: scale(1.2);
  transition: ease-out 0.s;
}
footer {   
    color: white;
    text-align: center;
    margin-top: auto;
}
/* Apply different styles for smaller screens */
@media (max-width: 768px) {
  /* Make the heading smaller */
  .hero {
    padding: 0 5%;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
  input[type="email"] {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  button[type="submit"] {
    font-size: 1rem;
    width: 93.77%;
    display: block;
  }
}
